.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #e3872d;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  z-index: 1200;
  box-shadow: 0 0 24px 0 #313131;
  animation: mover 1s infinite alternate;
  -webkit-animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translatey(0);
  }

  100% {
    transform: translatey(10px);
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -ms-transform: translatey(10px);
    -o-transform: translatey(10px);
  }
}

/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

}



.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  /* Use 100vh to make the layout take the full height of the viewport */
}

.sidebar {
  z-index: 999;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  /* Enable vertical scrolling for the content area */
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/* GLOBAL SCROLLBAR – Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  /* optional for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* cleaner look */
}

::-webkit-scrollbar-thumb {
  background-color: #e3882d;
  border-radius: 10px;
  background-clip: content-box;
}

/* Optional: Add smooth transition (looks nice on hover) */
::-webkit-scrollbar-thumb:hover {
  background-color: #ff9e42;
  /* lighter orange on hover */
}

/* FIREFOX SUPPORT */
* {
  scrollbar-width: thin;
  scrollbar-color: #e3882d transparent;
}