.progress {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}

.progress-bar-container {
    width: 100%;
    background-color: #9e9e9e;
    position: relative;
    border-radius: 20px;
    height: 5px;
}

.progress-bar {
    background-color: #181717;
    height: 5px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    width: 0;
    transition: width 0.1s ease;
    -webkit-transition: width 0.1s ease;
    -moz-transition: width 0.1s ease;
    -ms-transition: width 0.1s ease;
    -o-transition: width 0.1s ease;
}