.social {
    width: 100%;
    height: 4em;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.Linkdin {

    &:hover,
    &:focus {
        color: #031e58;
        box-shadow: 0 0 24px 0 #031e58;
        transform: scale(1.1) rotate(360deg);
        transition: transform 0.4s ease-out;
    }
}

.Linkdin {
    width: 4rem;
    height: 4rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    &:last-child {
        margin-right: 0
    }

    &:focus {
        outline-color: inherit;
    }

}

.facebook {
    width: 4rem;
    height: 4rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    &:last-child {
        margin-right: 0
    }

    &:focus {
        outline-color: inherit;
    }
}

.facebook {

    &:hover,
    &:focus {
        color: #1e40af;
        box-shadow: 0 0 24px 0 #1e40af;
        transform: scale(1.1) rotate(360deg);
        transition: transform 0.4s ease-out;
    }
}



.gmail {
    width: 4rem;
    height: 4rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    &:last-child {
        margin-right: 0
    }

    &:focus {
        outline-color: inherit;
    }
}

.gmail {

    &:hover,
    &:focus {
        color: #dd4b39;
        box-shadow: 0 0 24px 0 #dd4b39;
        transform: scale(1.1) rotate(360deg);
        transition: transform 0.4s ease-out;
    }
}

.whatsapp {
    width: 4rem;
    height: 4rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    &:last-child {
        margin-right: 0
    }

    &:focus {
        outline-color: inherit;
    }
}

.whatsapp {

    &:hover,
    &:focus {
        color: #00e576;
        box-shadow: 0 0 24px 0 #00e576;
        transform: scale(1.1) rotate(360deg);
        transition: transform 0.4s ease-out;
    }
}

.twitter {
    width: 4rem;
    height: 4rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    &:last-child {
        margin-right: 0
    }

    &:focus {
        outline-color: inherit;
    }
}

.twitter {

    &:hover,
    &:focus {
        color: #000000;
        box-shadow: 0 0 24px 0 #000000;
        transform: scale(1.1) rotate(360deg);
        transition: transform 0.4s ease-out;
    }
}

.instagram {
    width: 4rem;
    height: 4rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    &:last-child {
        margin-right: 0
    }

    &:focus {
        outline-color: inherit;
    }
}

.instagram {

    &:hover,
    &:focus {
        color: #9d09ea;
        box-shadow: 0 0 24px 0 #9d09ea;
        transform: scale(1.1) rotate(360deg);
        transition: transform 0.4s ease-out;
    }
}