.Contact {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 1950px) {
.formarea {
    width: 100%;
    height: 30em;
    margin-top: 6em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.contectinfo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.form {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    
}
.borderform
{
border-bottom: 1px solid black;
}
}
.submitform .buttonsub {
  width: 50%;
  padding: 10px;
  text-decoration: none !important;
  color: #fff !important;
  background-color: #E3872D !important;
  font-weight: 600 !important;
  font-family: "Montserrat" !important;
  border-radius: 3px !important;
  display: inline-block !important;
  position: relative !important;
  overflow: hidden !important;
  border: none !important;
  font-size: 1em !important;
  line-height: 1.8 !important;
  letter-spacing: 0.5px !important;
  cursor: pointer !important;
  z-index: 100;
}

.submitform .buttonsub::before {
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  left: -25%;
  width: 0%;
  background-color: #041230;
  transform: skew(50deg);
  transition-duration: .4s;
  z-index: -100;
}

.submitform .buttonsub:hover::before {
  width: 150%;
  left: -20%;

}
@media only screen and (max-width: 1023px) {
  .formarea {
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
    margin-top: 6em;
}
.contectinfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
 margin-top: 2em;
}
}
@media only screen and (max-width: 600px) {
  .formarea {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
.Footer{
  width: 100%;
  height: 8em;
  background-color: #041230;
  padding: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
}
/* .maps {
    width: 70%;
    height: 100%;
  }
  
  .gettech {
    width: 30%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  
  .mapsgettech {
    width: 100%;
    height: 23em;
    margin-top: 6em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2em;
  }
  
  
  @media (max-width: 768px) {
    .mapsgettech {
      width: 100%;
      height: 33em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .gettech {
      width: 100%;
      height: 30%;
    }
    .maps{
      width: 100%;
      height: 100%;
    }
  }
  

  
  .techtext {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(45, 45, 45);
  }
  
  .coustmerthanks {
    color: black;
    font-size: 17px;
    overflow-y: scroll;
  }*/