
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #e3872d;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  z-index: 1200;
  box-shadow: 0 0 24px 0 #313131;
  animation: mover 1s infinite alternate;
  -webkit-animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translatey(0);
}
  100% {
    transform: translatey(10px);
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -ms-transform: translatey(10px);
    -o-transform: translatey(10px);
}
}

/* App.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    
  }
.sidebar{
  z-index: 999;
}
  
  .app {
    display: flex;
    height: 100vh; /* Use 100vh to make the layout take the full height of the viewport */
  }
  .content {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling for the content area */
    width: 100%;
  }
  
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
/* Adjust the width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Style the track of the scrollbar */
::-webkit-scrollbar-track {
    background-color: #ffffff; width: 10px;
}
/* Style the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #e3882d;
    width: 10px;
    border-radius: 10px;
    background-clip: content-box;
    min-height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}